.wrapper {
  padding: 4rem;
  height: 100%;
}

a {
  color: gray;
  font-size: 1.1rem;
  font-weight: lighter;
}

p {
  font-size: 1.2rem;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1.5fr 2.5fr;
  grid-template-rows: 0.25fr 1fr;
  grid-gap: 200px 75px;
  grid-template-areas: "Logo Contact" "Links Content";
}


.Logo {
  grid-area: Logo;
}

.Contact {
  grid-area: Contact;
  display: flex;
  justify-content: flex-end;
}

.Links {
  padding: 2rem;
  grid-area: Links;
}

.Links ul li {
  text-transform: uppercase;
}

/* content styles */
.Content {
  grid-area: Content;
  padding: 0 4rem;
  line-height: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content-heading-wrapper {
  position: absolute;
  top: -8rem;
}

.content-heading {
  margin-top: -2rem;
}

.content-heading a {
  font-size: .8rem;
  font-weight: bold;
  color: gray;
  letter-spacing: .1rem;
}

.underline {
  text-decoration: underline;
}

.content-img {
  width: 12rem;
}

/* sidebar styles */

.selected {
  font-weight: bold;
  color: gray;
  border-bottom: 5px solid #f63632;
}

.p-heading {
  color: #8080807d;
  font-weight: bold;
  margin-left: 1rem;
  font-size: .8rem;
  text-decoration: underline;
  margin-top: -2rem;
  margin-bottom: .9rem;
}

/* contact dropdown styles */
#dropdown-menu {
  left: inherit;
}
