html {
  height: 100%;
}
body {
  position: relative;
  height: inherit;
}

#root {
  height: inherit;
}

.wrapper {
  padding: 4rem;
  height: 100%
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 0.25fr 1fr;
  grid-gap: 75px 75px;
  grid-template-areas: "Logo Contact" "Links Content";
}

.Logo {
  grid-area: Logo;
  background: gray;
}

.Contact {
  grid-area: Contact;
  background: red;
  display: flex;
  justify-content: flex-end;
}

.Links, .Content {
  padding: 2rem;
}

.Links {
  grid-area: Links;
  background: blue;
}

.Content {
  grid-area: Content;
  background: beige;
}
