/* general styles  */
html {
  height: 100%;
}
body {
  position: relative;
  height: inherit;
}

#root {
  height: inherit;
}

.wrapper {
  padding: 4rem;
  height: 100%
}

a {
  color: gray;
  font-size: 1.1rem;
  font-weight: lighter;
}

p {
  font-size: 1.2rem;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 0.25fr 1fr;
  grid-gap: 75px 75px;
  grid-template-areas: "Logo Contact" "Links Content";
}


.Logo {
  grid-area: Logo;
}

.Contact {
  grid-area: Contact;
  display: flex;
  justify-content: flex-end;
}

.Links {
  padding: 2rem;
}

.Links {
  grid-area: Links;
}

.Content {
  grid-area: Content;
  background: beige;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* sidebar styles */

.selected {
  font-weight: bold;
  color: gray;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: double;
}

.p-heading {
  color: #8080807d;
  font-weight: bold;
  margin-left: 1rem;
  font-size: .8rem;
  text-decoration: underline;
  margin-top: -2rem;
  margin-bottom: .9rem;
}
